<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      App Etequiano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Prezado aluno(a) da Etec Cidade do Livro:</h1>
  <P>Faça seu cadastro cricando no ícone abaixo!</P>

<img src="/assets/logo.jpg" alt="logo etec">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/cadastro">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <p *ngFor="let usuario of listaUsuarios">{{usuario.nome}}</p>

</ion-content>
